/* Global Styles */
:root {
  --primary-color: #141414;
  --light-color: #ffffff;
  --danger-color: #ea0f4a;
  /* --danger-color: #fa255e; */
  --danger-hover-color: #c90d3f;
  --neutral-color: #c39ea0;
  --dark-color: #000000;
  /* --primary-color: #003699; */
  /* --primary-color: #d8c3a5; */
  /* --dark-color: #333333; */
  /* --light-color: #f4f4f4; */
  /* --light-color: #eae7dc; */
  /* --danger-color: #dc3545; */
  /* --danger-color: #e85a4f; */
  /* --success-color: #28a745; */
  /* --neutral-color: #8e8d8a; */
  --success-color: #42cdab;
  --warning-color: #e98074;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-size: 1rem;
  letter-spacing: 1px;
  /* line-height: 1.6; */
  background-color: var(--primary-color);
  color: var(--light-color);
}

a {
  color: var(--light-color);
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

button {
  background: 0 0;
  border: 0;
}

/* Utilities */
/* .main-content {
  padding-top: 6rem;
} */

/* .container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 2rem;
} */

.badge {
  font-size: 0.8rem;
  padding: 0.2rem 0.7rem;
  text-align: center;
  margin: 0.3rem;
  background: var(--light-color);
  color: var(--dark-color);
  border-radius: 5px;
}

.alert {
  margin: 1rem 0;
  opacity: 0.9;
  background: var(--light-color);
  color: var(--dark-color);
}

/* .btn-primary,
.bg-primary,
.badge-primary,
.alert-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-light,
.bg-light,
.badge-light,
.alert-light {
  background: var(--light-color);
  color: var(--dark-color);
}

.btn-dark,
.bg-dark,
.badge-dark,
.alert-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger,
.bg-danger,
.badge-danger,
.alert-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success,
.bg-success,
.badge-success,
.alert-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white,
.bg-white,
.badge-white,
.alert-white {
  background: #fff;
  color: var(--dark-color);
  border: #ccc solid 1px;
}

.bg-light,
.badge-light {
  border: #ccc solid 1px;
} */

/* Forms */
/* input:focus {
  color: var(--neutral-color);
}

.form-text {
  display: block;
  margin-top: 0.3rem;
  color: #888;
} */

/* input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
input[type='file'], */
/* select, */
/* textarea {
  display: block;
  background: gray;
  width: 256px;
  padding: 0.5rem;
  font-size: 1rem;
  outline: none;
  border-radius: 4px;
  border: 0;
} */

/* 
input[type='file'] {
  background: white;
}

input[type='text']:focus,
input[type='email']:focus,
input[type='password']:focus,
input[type='date']:focus,
input[type='file']:focus, */
/* select:focus, */
/* textarea:focus {
  border: 2px solid var(--danger-color);
  opacity: 0.9;
}

input[type='submit'],
button {
  font: inherit;
}

.form-group {
  margin: 1.2rem 0;
}

.form-group input {
  margin: 0.2rem 0;
}

.form-container {
  max-width: 500px;
  margin: 2rem auto;
  overflow: hidden;
  padding: 0 2rem;
} */

/* .form-container h1,
h2,
h3 {
  text-align: center;
} */

/* Headbox */
/* .headbox {
  position: fixed;
  width: 100%;
  z-index: 100;
  height: 3.5rem;
  background: var(--primary-color);
}

.headbox .container,
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.item_search {
  position: relative;
  opacity: 0.9;
}

.item_search .icon {
  position: absolute;
  right: 10px;
  bottom: 0;
  color: var(--neutral-color);
  opacity: 0.9;
  font-size: 1.5rem;
}

.item_search button.icon:focus {
  outline: none;
}

.item_search .icon:hover {
  color: var(--danger-color);
}

.item_search input[type='text'] {
  width: 20rem;
} */

/* Navbar */
/* .navbar {
  position: fixed;
  margin-top: 3.5rem;
  width: 100%;
  z-index: 100;
  height: 2.5rem;
  background: var(--danger-color);
}

.footer h1,
.headbox h1,
.navbar h1 {
  font-family: 'Courgette', sans-serif;
  display: flex;
  opacity: 0.9;
  font-display: swap;
}

.headbox ul,
.navbar ul {
  display: flex;
}

.headbox ul li,
.navbar ul li {
  font-weight: bold;
}

.navbar ul li {
  margin-right: 0.5rem;
} */

/* .headbox a,
.navbar a {
  padding: 0.25rem;
  margin: 0 0.25rem;
}

.headbox a,
.navbar a {
  display: flex;
}

.headbox h1 a .icon {
  width: 2.5rem;
  height: 3.5rem;
}

.headbox ul li a .icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.1rem;
}

.navbar ul li a .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.headbox h1 a .icon,
.headbox ul li a .icon,
.navbar ul li a .icon {
  text-align: center;
  overflow: hidden;
}

.headbox h1 a .icon,
.navbar ul li a .icon {
  margin-right: 0.2rem;
}

.headbox h1 a .icon .fas {
  line-height: 3.5rem;
  font-size: 2.6rem;
}

.headbox ul li a .icon .fas {
  line-height: 2rem;
  font-size: 1.3rem;
}

.navbar ul li a .icon .fas {
  line-height: 1.5rem;
  font-size: 1rem;
}

.headbox h1 a .icon .fas,
.headbox ul li a .icon .fas,
.navbar ul li a .icon .fas {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  color: var(--dark-color);
}

.headbox h1 a .icon .fas:last-child,
.headbox ul li a .icon .fas:last-child {
  color: var(--danger-color);
}

.navbar ul li a .icon .fas:last-child {
  color: var(--light-color);
}

.headbox h1 a:hover .icon .fas,
.headbox ul li a:hover .icon .fas {
  transform: translateY(-100%);
}

.navbar ul li a:hover .icon .fas {
  transform: translateY(-106%);
}

.headbox h1 a .name {
  height: 3.5rem;
  font-size: 2.4rem;
}

.headbox ul li a .name {
  font-size: 1.2rem;
}

.navbar ul li a .name {
  height: 1.5rem;
}

.headbox h1 a .name,
.headbox ul li a .name,
.navbar ul li a .name {
  position: relative;
  display: block;
  overflow: hidden;
}

.headbox ul li a .name span {
  margin-right: 0.5rem;
}

.headbox h1 a .name span,
.headbox ul li a .name span,
.navbar ul li a .name span {
  display: block;
  position: relative;
  color: var(--dark-color);
  transition: 0.5s;
}

.headbox h1 a .name span::before,
.headbox ul li a .name span::before {
  color: var(--danger-color);
}

.navbar ul li a .name span::before {
  color: var(--light-color);
}

.headbox h1 a .name span::before,
.headbox ul li a .name span::before,
.navbar ul li a .name span::before {
  content: attr(data-text);
  position: absolute;
  top: -100%;
}

.headbox h1 a:hover .name span,
.headbox ul li a:hover .name span,
.navbar ul li a:hover .name span {
  transform: translateY(100%);
} */

/* .alert i,
.navbar i {
  margin-right: 0.25rem;
} */

/* Modali */
/* .modali-open {
  padding: 0;
}

.modali {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background: var(--light-color);
}

.modali-overlay {
  opacity: 0.6;
} */

/* .modali-wrapper {
  padding: 2rem 0 0;
} */

/* .modali-header {
  display: none;
}

.modali-body {
  background-color: var(--light-color);
  border-radius: 0;
}

.modali-body-style {
  padding: 0;
} */

/* Modal */
/* .modal-container h1 {
  font-weight: bold;
  margin: 0;
}

.modal-container h2 {
  text-align: center;
}

.modal-container p {
  font-size: 14px;
  font-weight: 100;
  line-height: 20px;
  letter-spacing: 0.5px;
  margin: 20px 0 30px;
}

.modal-container span {
  font-size: 12px;
  padding-bottom: 0.8rem;
} */

/* .modal-container a {
  font-size: 14px;
  text-decoration: none;
  margin: 15px 0;
}

.modal-container .btn {
  border: 1px solid var(--danger-color);
  font-size: 0.75rem;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.modal-container .ghost:active,
.modal-container .btn:active {
  transform: scale(0.95);
}

.modal-container .btn:focus,
.modal-container .ghost:focus {
  outline: none;
} */

/* .modal-container .ghost {
  border: 1px solid var(--light-color);
  color: var(--light-color);
  font-size: 0.75rem;
  font-weight: bold;
  padding: 12px 45px;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: transform 80ms ease-in;
}

.modal-container form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 0 16px;
  height: 100%;
  text-align: center;
}

.modal-container select,
.modal-container input {
  border: 2px solid var(--light-color);
  padding: 12px 14px;
  margin: 6px 0;
  font-size: 0.85rem;
}

.modal-container {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
  background-color: var(--light-color);
}

.modal-form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.modal-sign-in-container {
  left: 0;
  width: 50%;
  z-index: 2;
}

.modal-sign-up-container {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.right-panel-active .modal-sign-up-container {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: show 0.6s;
}

.author-input-field,
.input-field {
  position: relative;
}

.input-field input:nth-of-type(3),
.input-field input:nth-of-type(2) {
  margin-top: 12px;
}

.author-input-field select,
.input-field select {
  font-size: 0.85rem;
}
*/
/* .author-input-field select option,
.author-input-field label,
.input-field select option,
.our-login-input-field label {
  position: absolute;
  top: -4px;
  pointer-events: none;
  color: var(--neutral-color);
}

.author-input-field label,
.our-login-input-field label {
  font-size: 0.75rem;
  color: var(--light-color);
  background: var(--danger-color);
  padding: 2px 4px;
} */
/*
.input-field label:nth-of-type(3),
.input-field label:nth-of-type(2),
.input-field label:nth-of-type(1) {
  left: 14px;
}

.input-field label:nth-of-type(2) {
  top: 52px;
}

.input-field label:nth-of-type(3) {
  top: 108px;
} */

/* .react-datepicker-wrapper:not(:empty) + label, */
/* .input-field.add label:nth-of-type(4), */
/* .react-datepicker-popper:not(:empty) + label, */
/* .input-field select:not([value='']) + label, */
/* .input-field input:optional + label { */
/* .input-field input:valid + label { */
.input-field.addBook textarea:focus + label,
.input-field.addBook textarea:not(:empty) + label,
.input-field.add textarea:focus + label,
.input-field.add textarea:not(:empty) + label,
.input-field.add input[type='file']:valid + label,
.input-field.add input[type='file']:invalid + label,
.input-field select:focus + label,
.input-field select + label,
.input-field input:not([value='']) + label,
.input-field input:focus + label {
  transform: translateY(-22px);
  font-size: 0.75rem;
  color: var(--light-color);
  background: var(--danger-color);
  padding: 2px 6px;
}

/* input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
  transition: background-color 5000s ease-in-out 0s;
}

@keyframes show {
  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.modal-overlay-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: transform 0.6s ease-in-out;
  z-index: 100;
}

.modal-container.right-panel-active .modal-overlay-container {
  transform: translateX(-100%);
}

.modal-overlay {
  background: var(--danger-color);
  background-position: 0 0;
  color: var(--light-color);
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.modal-container.right-panel-active .modal-overlay {
  transform: translateX(50%);
}

.modal-overlay-panel {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  text-align: center;
  top: 0;
  height: 100%;
  width: 50%;
  transform: translateX(0);
  transition: transform 0.6s ease-in-out;
}

.modal-overlay-left {
  transform: translateX(-20%);
}

.modal-container.right-panel-active .modal-overlay-left {
  transform: translateX(0);
}

.modal-overlay-right {
  right: 0;
  transform: translateX(0);
}

.modal-container.right-panel-active .modal-overlay-right {
  transform: translateX(20%);
}

.modal-social-container {
  margin: 20px 0;
}

.modal-social-container a {
  background-color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 5px;
}

.modal-social-container a .social-icon {
  width: 40px;
  height: 40px;
}

.modal-social-container a .social-icon {
  text-align: center;
  overflow: hidden;
}

.modal-social-container a .social-icon .fab {
  line-height: 40px;
}

.modal-social-container a .social-icon .fab {
  width: 100%;
  height: 100%;
  transition: 0.5s;
}

.modal-social-container a i.fab.fa-facebook-f:last-child {
  color: #1778f2;
}

.modal-social-container a i.fab.fa-google-plus-g:last-child {
  color: #dd4b39;
}

.modal-social-container a i.fab.fa-linkedin-in:last-child {
  color: #2867b2;
}

.modal-social-container a:hover .social-icon .fab {
  transform: translateY(-100%);
} */

/* Footer */
/* footer.footer {
  background: var(--neutral-color);
  margin-top: 60px;
}

.footer .container .footer_top,
.footer .container .footer_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer .container .footer_top {
  margin-top: 1rem;
}

.footer .container .footer_bottom {
  margin: 2rem 0 1rem;
}

.footer ul {
  display: flex;
}

.footer a {
  margin: 0 0.25rem;
  display: flex;
}

.footer ul li:last-child {
  margin: 0;
}

.footer ul li a .icon {
  width: 1.5rem;
  height: 1.5rem;
}

.footer ul li a .social-icon {
  width: 2.5rem;
  height: 2.5rem;
}

.footer ul li a .icon,
.footer ul li a .social-icon {
  text-align: center;
  overflow: hidden;
  margin-right: 0.2rem;
}

.footer ul li a .icon .fas {
  line-height: 1.5rem;
  font-size: 1rem;
}

.footer ul li a .social-icon .fab {
  line-height: 2.5rem;
  font-size: 2rem;
}

.footer ul li a .icon .fas,
.footer ul li a .social-icon .fab {
  width: 100%;
  height: 100%;
  transition: 0.5s;
  color: var(--dark-color);
}

.footer_top ul li a .social-icon .fab.fa-facebook:last-child {
  color: #1778f2;
}

.footer_top ul li a .social-icon .fab.fa-instagram:last-child {
  color: #dd2a7b;
}

.footer_top ul li a .social-icon .fab.fa-twitter:last-child {
  color: #1da1f2;
}

.footer_top ul li a .social-icon .fab.fa-youtube:last-child {
  color: #ff0000;
}

.footer ul li a .icon .fas:last-child {
  color: var(--light-color);
}

.footer ul li a:hover .icon .fas {
  transform: translateY(-106%);
}

.footer ul li a:hover .social-icon .fab {
  transform: translateY(-100%);
}

.footer ul li a .name {
  height: 1.5rem;
  position: relative;
  display: block;
  overflow: hidden;
}

.footer ul li a .name span {
  display: block;
  position: relative;
  color: var(--dark-color);
  transition: 0.5s;
}

.footer ul li a .name span::before {
  color: var(--light-color);
  content: attr(data-text);
  position: absolute;
  top: -100%;
}

.footer ul li a:hover .name span {
  transform: translateY(100%);
}

.footer i {
  margin-right: 0.25rem;
}

.footer ul li p {
  margin-top: 1rem;
} */

/* Mobile Styles */
@media (max-width: 700px) {
  /* .hide-sm {
    display: none;
  }

  .grid-2,
  .grid-3,
  .grid-4 {
    grid-template-columns: 1fr;
  } */

  /* Text Styles */
  /* .x-large {
    font-size: 3rem;
  }

  .large {
    font-size: 2rem;
  }

  .lead {
    font-size: 1rem;
  } */

  /* Navbar */
  /* .navbar {
    display: block;
    text-align: center;
  }

  .navbar h1 {
    margin-bottom: 0.6rem;
  }

  .navbar ul {
    text-align: center;
    justify-content: center;
  } */
}
