/* All devices */
.our-main-container {
  width: 100%;
  overflow-x: hidden;
}

.our-header {
  background-color: transparent;
  position: relative;
  max-width: 1920px;
  height: 2rem;
  margin: 0 auto;
  padding-top: 20px;
  width: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
}

.our-card-container,
.our-container {
  margin: 0 6%;
}

.screen-reader-text {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

.authLink.redBtn {
  background-color: rgba(255, 255, 255, 0);
  color: var(--danger-color);
  border: 2px solid var(--danger-color);
}

.authLink.redBtn:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.redBtn {
  background-color: var(--danger-color);
  line-height: normal;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--light-color);
  float: right;
  border-radius: 4px;
}

.redBtn:hover {
  background-color: var(--danger-hover-color);
}

.our-card {
  position: relative;
  z-index: 0;
}

.our-card.center {
  max-width: 1920px;
  margin: 0 auto;
  top: -2rem;
}

.our-card.center:last-child {
  margin: 2rem auto;
}

.our-card.our-card-background {
  background: url('../../images/intro_background_cz.jpg');
  background-size: cover;
  background-attachment: fixed;
  clip-path: ellipse(110% 50% at 50% 44%);
  min-height: 90vh;
  top: -2rem;
}

.our-card-text-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.our-card-container {
  display: flex;
}

.our-card-text {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  text-align: center;
  z-index: 1;
}

.our-card-text .our-card-text-h2 {
  margin: 1.25rem auto;
}

.our-card-button {
  display: flex;
  justify-content: center;
  padding: 0 4.9rem;
}

.redBtn.memberBtn {
  border-radius: 6px;
}

.our-card-img.darker-80 {
  opacity: 0.8;
}

.our-card-container .our-card-text {
  height: 100%;
  flex: 0 1 auto;
}

/* Extra, extra small devices (phones, 340px and down) */
@media only screen and (max-width: 340px) {
  .redBtn {
    padding: 7px 19px;
  }

  .our-card-text .our-card-text-h1 {
    font-size: 2rem;
  }

  .redBtn.memberBtn,
  .our-card-text .our-card-text-h2 {
    font-size: 1.1rem;
  }

  .redBtn.memberBtn {
    padding: 11px 30px;
  }

  .our-card-container {
    flex-direction: column;
  }

  .our-card-container.reverse {
    flex-direction: column-reverse;
  }

  .our-card-container .our-card-text.flipped {
    padding: 0 0 1rem 0;
  }
}

/* Extra small devices (phones, 340px and up) */
@media only screen and (min-width: 340px) and (orientation: portrait) {
  .redBtn {
    padding: 7px 19px;
  }

  .our-card-text-title .our-card-text-h1 {
    margin: 0 6%;
  }

  .our-card-text .our-card-text-h1 {
    font-size: 2.2rem;
  }

  .redBtn.memberBtn,
  .our-card-text .our-card-text-h2 {
    font-size: 1.25rem;
  }

  .redBtn.memberBtn {
    padding: 11px 30px;
  }

  .our-card-container {
    flex-direction: column;
  }

  .our-card-container.reverse {
    flex-direction: column-reverse;
  }

  .our-card-container .our-card-text.flipped {
    padding: 0 0 1rem 0;
  }
}

/* Extra small devices (phones, 340px and up) */
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 340px) and (orientation: landscape),
  (min-width: 600px) and (orientation: landscape) {
  .redBtn {
    padding: 7px 19px;
  }

  .our-card-text .our-card-text-h1 {
    font-size: 2rem;
  }

  .redBtn.memberBtn,
  .our-card-text .our-card-text-h2 {
    font-size: 1.1rem;
  }

  .our-card-text .our-card-text-h2 {
    margin: 1rem auto;
  }

  .redBtn.memberBtn {
    padding: 11px 30px;
  }

  .our-card-container {
    flex-direction: column;
  }

  .our-card-img {
    width: 75%;
    align-self: center;
  }

  .our-card-container.reverse {
    flex-direction: column-reverse;
  }

  .our-card-container .our-card-text {
    padding: 0;
  }

  .our-card-container .our-card-text.flipped {
    padding: 0 0 1rem 0;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (orientation: portrait),
  (min-width: 992px) {
  .redBtn {
    padding: 9px 23px;
  }

  .our-card-text .our-card-text-h1 {
    font-size: 3rem;
  }

  .redBtn.memberBtn,
  .our-card-text .our-card-text-h2 {
    font-size: 1.5rem;
  }

  .redBtn.memberBtn {
    padding: 13px 38px;
  }

  .our-card-container {
    align-items: center;
    justify-content: space-between;
  }

  .our-card-img {
    width: 75%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .our-card-container {
    flex-direction: row;
  }

  .our-card-img {
    width: 50%;
  }

  .our-card-container .our-card-text {
    width: 55%;
    padding: 0 2rem 0 0;
    text-align: left;
  }

  .our-card-container .our-card-text.flipped {
    padding: 0 0 0 2rem;
  }

  .our-card-container.reverse {
    flex-direction: row;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .redBtn {
    padding: 11px 27px;
  }

  .our-card-text .our-card-text-h1 {
    font-size: 4rem;
  }

  .redBtn.memberBtn,
  .our-card-text .our-card-text-h2 {
    font-size: 2rem;
  }

  .our-card-text .our-card-text-h2 {
    margin: 1.5rem auto;
  }

  .redBtn.memberBtn {
    padding: 15px 46px;
  }

  .our-card-container .our-card-text {
    padding: 0 3rem 0 0;
  }

  .our-card-container .our-card-text.flipped {
    padding: 0 0 0 3rem;
  }
}

/* Extra, extra large devices (large laptops and desktops, 1920px and up) */
@media only screen and (min-width: 1920px) {
  .our-card-container,
  .our-container {
    margin: 0;
  }
}
