.author-item {
  width: 156px;
  height: 184px;
  /* background: white; */
  margin: 0 10px 24px;
  /* border: 2px solid var(--light-color); */
  box-shadow: 0 14px 20px -8px rgba(0, 0, 0, 0.2);
}

.author-item:hover {
  cursor: pointer;
  box-shadow: 0 14px 30px 0px rgba(0, 0, 0, 0.2);
}

.author-item:nth-child(6n + 1) {
  margin-left: 0;
}

.author-item:nth-child(6n) {
  margin-right: 0;
}

.author-card {
  position: relative;
  height: 153px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1000px;
  overflow: hidden;
  transform-style: preserve-3d;
}

.book-card-sm i.far,
.author-card i.far {
  opacity: 0.5;
  font-size: 4rem;
}

.author-item:hover .author-card_image2 {
  transform: rotateY(0deg);
}

.author-item:hover .author-card_image {
  transform: rotateY(180deg);
}

.author-card_image {
  margin-top: 6px;
}

.author-card_image,
.author-card_image2 {
  transform-style: preserve-3d;
  backface-visibility: hidden;
  transition: transform 1s cubic-bezier(0.25, 0.1, 0.25, 1);
}

.author-card_image2 img,
.author-card_image img {
  width: 140px;
  height: 140px;
  object-fit: cover;
}

.author-card_image2 {
  position: absolute;
  margin-top: 4px;
  z-index: 2;
  transform: rotateY(180deg);
}

.author-name {
  text-align: center;
}

.author-name .line {
  width: 140px;
  height: 2px;
  margin: auto;
  border-top: 1px solid var(--neutral-color);
  opacity: 0.7;
}

.author-name span {
  font-size: 0.85rem;
  color: var(--neutral-color);
  font-style: italic;
}

.author-item:hover a > .author-name span {
  color: var(--danger-color);
  opacity: 0.8;
  font-weight: bold;
}
